@model AspNetCoreIdentity.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form asp-action="Register" asp-controller="Accounts" method="post">
    <div class="row">
        <div class="col-md-4">

            <label>Email</label>
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>



        <div class="col-md-4">

            <label>Password</label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>



        <div class="col-md-4">

            <label>User Name</label>
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="col-md-4">

            <label>User Phone</label>
            <input type="text" asp-for="UserPhone" />
            <span asp-validation-for="UserPhone"></span>
        </div>

        <input type="submit" value="Create account" />
    </div>
</form>